apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: clean-workspace
  annotations:
    tekton.dev/tags: git
    tekton.dev/displayName: "clean workspace"
spec:
  description: >-
    This Task will clean git clone output Workspace.
  workspaces:
    - name: output
      description: The workspace with git cloned output
  params:
    - name: subdirectory
      description: Subdirectory inside the `output` Workspace with cloned data
      type: string
  steps:
    - name: clean
      image: tbd5d1uh.private-ncr.fin-ntruss.com/k8s/dev/devops/alpine/git:v2.40.1
      script: |
        #!/usr/bin/env sh
        set -eu
        set -x

        CHECKOUT_DIR="$(workspaces.output.path)/$(params.subdirectory)"
        
        if [ -d "${CHECKOUT_DIR}" ] 
        then 
           rm -rf ${CHECKOUT_DIR}
        fi

